bin/** filter=lfs diff=lfs merge=lfs -text
inputs/** filter=lfs diff=lfs merge=lfs -text
obsolete/**/*.img filter=lfs diff=lfs merge=lfs -text
obsolete/**/*.bin filter=lfs diff=lfs merge=lfs -text
obsolete/**/*.payload filter=lfs diff=lfs merge=lfs -text
obsolete/**/*.hdr filter=lfs diff=lfs merge=lfs -text
modules/**/*.ko filter=lfs diff=lfs merge=lfs -text
